<!DOCTYPE html>
<html>
  <head>
	<meta charset=utf-8 />
	<title> {% if page.title %} {{ page.title }} | {% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
	<div class="container">
    <header>

		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="/">Jeky</a>
		    <ul class="nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">Link</a></li>
		      <li><a href="#">Link</a></li>
		    </ul>
		  </div>
		</div>
		
    <header>

	{{ content }}


    <footer>
      <p>@copy; Kurt Voelker 2013 | All Rights Reserved. </p>
    </footer>

	</div>
  </body>
</html>



  <div id="main">
 

</body>
</html>